a{
  aspect-ratio: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-position: center;
  transition: background 0.8s;
  border-radius: 100%;
  z-index: 1;

  &:hover{
    background:transparent radial-gradient(circle, transparent 1%,rgba(0,0,0,0.1) 1%) center/15000%;
  }
  &:active{
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 100%;
    transition: background 0s;
  }

}
