:host {
  flex: 1;
  display: flex;
  align-items: stretch;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--colorTextSecondary);
    font-size: 10px;
    font-weight: 400;
    text-decoration: none;
    flex: 1;
    transition: var(--primary-transition);
    padding: 10px;

    &.active {
      color: var(--colorPrimaryText);
    }

    &:active {
      color: var(--colorPrimaryTextActive);
    }
  }
}
