:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: fit-content;
  overflow: hidden;
  gap: var(--padding);

  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: 0.2s;
    gap: var(--padding-lg);
    padding: 0 var(--padding);
    box-sizing: border-box;
  }

  .swiper-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--padding-sm);

    .swiper-dot {
      width: var(--padding-sm);
      height: var(--padding-sm);
      border-radius: 999px;
      background-color: var(--color-dark1-1);
      transition: 0.2s;
      cursor: pointer;
      opacity: 0.5;

      &.active {
        width: var(--padding);
        opacity: 1;
      }
    }
  }

  &::ng-deep app-swiper-item {
    min-width: 100%;
    max-width: 100%;
  }
}
