header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;

  .header-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorText);

    .logo {
      height: 100%;
      aspect-ratio: 1;
      background-size: contain;
      background: url("../../assets/img/logo_s_white.svg") no-repeat center;
      position: relative;
    }
  }

  .header-item:first-child {
    justify-content: flex-start;
  }

  .header-item:last-child {
    justify-content: flex-end;
  }
}
