:host {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  color: var(--color-dark1-1);
  background: var(--color-background-1);

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  ng-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
