<svg ripple xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
  <defs>
    <style>
      .line {
        --length: 169.67px;
        fill: none;
        stroke: #F5A569;
        stroke-width: 4;
        stroke-dashoffset: -moz-calc(var(--length) * (1 - var(--percent) / 100));
        stroke-dashoffset: calc(var(--length) * (1 - var(--percent) / 100));
        stroke-dasharray: var(--length);
        stroke-linecap: round;
        transition: 1s linear;
      }


      .cls-3 {
        stroke: #E6E781;
        stroke-width: 5;
      }

      .cls-4 {
        stroke: #6FC0A6;
        stroke-width: 6;

      }

      .cls-5 {
        stroke: #3B7DC0;
        stroke-width: 7;

      }

      .cls-6 {
        stroke: #fff;
        stroke-width: 8;

      }

      .cls-1 {
        fill: none;
        stroke: #ffffff;
        opacity: 0.2;
        stroke-width: 4;
      }


      @keyframes dash {
        from {
          stroke-dashoffset: var(--length);
        }
        to {
          stroke-dashoffset: 0;
        }
      }


    </style>
  </defs>
  <g id="c2" data-name="c2">
    <path class="cls-1"
          d="M35,8h0A27,27,0,0,1,62,35h0A27,27,0,0,1,35,62h0A27,27,0,0,1,8,35H8A27,27,0,0,1,35,8h0"/>
    <g #groupPath id="c1_2" data-name="c1">

      <path class="cls-2 line"
            d="M35,8h0A27,27,0,0,1,62,35h0A27,27,0,0,1,35,62h0A27,27,0,0,1,8,35H8A27,27,0,0,1,35,8h0"/>
      <path class="cls-3 line"
            d="M35,8h0A27,27,0,0,1,62,35h0A27,27,0,0,1,35,62h0A27,27,0,0,1,8,35H8A27,27,0,0,1,35,8h0"/>
      <path class="cls-4 line"
            d="M35,8h0A27,27,0,0,1,62,35h0A27,27,0,0,1,35,62h0A27,27,0,0,1,8,35H8A27,27,0,0,1,35,8h0"/>
      <path class="cls-5 line"
            d="M35,8h0A27,27,0,0,1,62,35h0A27,27,0,0,1,35,62h0A27,27,0,0,1,8,35H8A27,27,0,0,1,35,8h0"/>
      <path class="cls-6 line"
            d="M35,8h0A27,27,0,0,1,62,35h0A27,27,0,0,1,35,62h0A27,27,0,0,1,8,35H8A27,27,0,0,1,35,8h0"/>
    </g>
  </g>
</svg>
