:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 var(--padding);
  overflow: hidden;

  &.selected,
  &.hold {
    background: var(--theme-color-2-5);
  }

  img {
    width: 20px;
  }

  .content {
    display: flex;
    flex-direction: row;

    align-items: center;
    border-bottom: 1px solid var(--theme-color-2-5);
    gap: var(--padding-sm);
    padding: var(--padding-sm) 0;

    .infos {
      h1 {
        font-size: var(--font-size);
        font-weight: var(--font-weight-semi-bold);
        text-align: left;
        flex: 1;
      }

      p {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-normal);
        text-align: left;
      }
    }

    .fileInfos {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
      margin-left: var(--padding);

      span {
        text-align: left;
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-sm);
        color: var(--color-dark2-1);
      }
    }

    a {
      width: 30px;
      height: 30px;
      aspect-ratio: 1;
      background: var(--theme-color-2);
      color: var(--theme-color-1);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
    }
  }
}

:host(:last-child) {
  .content {
    border-bottom: none;
  }
}
