<div class="content">
  <ng-icon *ngIf="file?.type === 'directory' && !goBack" name="jamFolder"
           size="20"></ng-icon>
  <ng-icon *ngIf="goBack" name="jamArrowLeft" size="20"></ng-icon>
  <div *ngIf="file && !session" class="infos">
    <h1>{{file.name}}</h1>
  </div>
  <div *ngIf="session" class="infos">
    <h1>{{session.title}}</h1>
    <p>{{session.date | date:'dd/MM/yyyy'}}</p>

  </div>
  <a *ngIf="!goBack">
    <ng-icon [name]="selected?'jamCheck':'jamChevronRight'" size="20"></ng-icon>
  </a>
</div>


