:host {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  background: var(--theme-color-1);
  z-index: 1;
  padding: var(--padding-sm) var(--padding) 0 var(--padding);
  color: var(--color-dark1-1);

  .header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorText);
    z-index: 1;
    overflow: hidden;

    &:not(.content) {
      width: 50px;
    }

    &:last-child {
      z-index: 0;
    }

    &:first-child {
      z-index: 0;
    }

    &.content {
      flex: 1;
    }

    & .logo {
      height: 100%;
      aspect-ratio: 1;
      background-size: contain;
      background: url("../../../assets/img/logo_s_white.svg") no-repeat center;
    }

    &:first-child:not(.content) {
      justify-content: flex-start;
    }

    &.menu {
      justify-content: flex-end;
    }

    &.server {
      z-index: 2;
    }
  }
}
