<div (mousedown)="onMouseDown($event)" (mouseleave)="onMouseUp($event)" (mouseup)="onMouseUp($event)"
     (mousemove)="onMouseMove($event)"
     (touchstart)="onMouseDown($event)" (touchend)="onMouseUp($event)" (touchmove)="onMouseMove($event)"
     (touchcancel)="onMouseUp($event)"
     [style.--positionY.px]="positionY" #container
     class="number-spinner"
>
  <div class="container"
       [style.transform]="'translateY(calc('+_value*-1+' * 100%)) translateY(100%)'"
  >
    <div [class]="_value === number ? 'active value' : 'value'" *ngFor="let number of values;index as i"
         (click)="value = i;currentValue = i">
      {{number}}
    </div>
  </div>
</div>


<div class="title" *ngIf="title">{{title}}</div>
