:host {
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 10px;
  color: var(--color-dark1-1);

  .number-spinner {
    height: 100%;
    flex: 1;
    overflow: hidden;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 10%,
      black 20%,
      black 80%,
      transparent 90%,
      transparent 100%
    );

    .container {
      width: 100%;
      height: calc(100% / 3);
      transition: var(--transition);

      .value {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--transition);
        transform: scale(0.8);
        font-weight: var(--font-weight-normal);

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: calc(100% - 5px);
          height: calc(100% - 5px);
          background: var(--color-background-2);
          transform: translate(-50%, -50%);
          z-index: -1;
          border-radius: var(--border-radius);
          transition: var(--transition);
          box-shadow: var(--box-shadow-1);
        }

        &.active {
          opacity: 1;
          transform: scale(1);
          color: var(--color-primary-darker);
          font-weight: var(--font-weight-semi-bold);

          &:before {
            background: var(--color-primary-lighter-5);
          }
        }
      }
    }
  }

  .title {
    flex: 1;
    padding: 20px 0;
    box-sizing: border-box;
    opacity: 0.5;
  }
}
