:host {
  a {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--colorText);
    font-weight: 400;
    text-decoration: none;
    border-radius: var(--borderRadius);
    z-index: 1;
    backdrop-filter: blur(4px);
    transition: var(--primary-transition);
    overflow: hidden;
    width: fit-content;
    border: solid 1px var(--colorBorder);

    &:active,
    &.active {
      color: var(--colorPrimaryTextActive);
    }
  }

  app-slide-sheet {
    .number-pickers {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
