<app-header [showBack]="false" [showMenu]="false"><h1>Paramètres</h1></app-header>
<div class="content">

  <app-search [(value)]="searchValue" placeholder="Rechercher des paramètres"></app-search>
  <div class="parameters">

    <div class="group" *ngFor="let group of settings">
      <h1>{{group.label}}</h1>
      <app-input [horizontal]="true" *ngFor="let parameter of group.parameters; trackBy: trackParameter"
                 [label]="parameter.label"
                 [type]="parameter.type" [max]="parameter.max" [min]="parameter.min"
                 [(value)]="parameter.value"
                 (valueChange)="onChange(parameter, $event)"
      ></app-input>
    </div>
  </div>
</div>

