:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color-dark1-1);
  gap: var(--padding);

  app-header h1 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    text-align: left;
  }

  .content {
    padding: 0 var(--padding) var(--padding) var(--padding);
    gap: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .parameters {
      display: flex;
      flex-direction: column;
      gap: var(--padding);

      .group {
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        border-bottom: 1px solid var(--theme-color-1-5);
        padding-bottom: var(--padding);

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }

        h1 {
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-bold);
          text-align: left;
        }
      }
    }
  }
}
