<div class="App">
  <div *ngIf="loading" class="loader">
    <p>{{ loading.progress ? loading.text + ' - ' + loading.progress + '%' : loading.text }}</p>
  </div>

  <div class="header">
    <h1>YOLOv8 Object Segmentation App</h1>
    <p>YOLOv8 object detection application live on browser powered by <code>onnxruntime-web</code></p>
    <p>Serving : <code class="code">{{ modelName }}</code></p>
  </div>

  <div class="content">
    <img
      #imageRef
      src="#"
      alt=""
      [style.display]="image ? 'block' : 'none'"
      (load)="onImageLoad()"
    />
    <canvas #canvasRef id="canvas" [width]="modelInputShape[2]" [height]="modelInputShape[3]"></canvas>
    <canvas id="imshow" [width]="modelInputShape[2]" [height]="modelInputShape[3]"></canvas>
  </div>

  <input
    type="file"
    #inputImage
    accept="image/*"
    style="display: none"
    (change)="handleImageChange($event)"
  />

  <div class="btn-container">
    <button (click)="openLocalImage()">Open local image</button>
    <button *ngIf="image" (click)="closeImage()">Close image</button>
  </div>
</div>
