<!--webcam video-->
<div class="camera-preview-container" #cameraPreview>
  <div class="canvas"
       [style.aspect-ratio]="width +'/'+ height"
       [style.width]="parentWidth/parentHeight > width/height ? '100%' : 'auto'"
       [style.height]="parentWidth/parentHeight > width/height ? 'auto' : '100%'"
  >
    <video #videoRef autoplay playsinline></video>
    <canvas
      #inputCanvasRef
      width={input_shape[2]}
      height={input_shape[3]}
      hidden
    ></canvas>
    <canvas #canvasRef id="canvas" [width]="modelInputShape[2]" [height]="modelInputShape[3]"></canvas>
    <canvas id="imshow" [width]="modelInputShape[2]" [height]="modelInputShape[3]"></canvas>
  </div>
  <app-loading *ngIf="loading" [loading]="!!loading">
    <p>{{ loading.progress ? loading.text + ' - ' + loading.progress + '%' : loading.text }}</p>
  </app-loading>
  <div id="cameraPreview"></div>

</div>
<!--<app-opencv-imshow></app-opencv-imshow>-->

<!--<canvas id="debug" width="4096" height="4096"></canvas>-->
<!--<canvas id="debug2" width="4096" height="4096"></canvas>-->
