<!--webcam video-->
<div class="camera-preview-container" #cameraPreview>
  <div class="canvas">
    <svg [style.--opacity]="coordinates() ? 1 : 0"
         [style.aspect-ratio]="aspectRatio()"

         #svg [attr.viewBox]="viewBox()" preserveAspectRatio="xMidYMid slice">
      <path [class.valid]="numberOfValidCoordinates()>=CORRECT_COORDINATES_BEFORE_PROCESS" [attr.d]="path()"
            vector-effect="non-scaling-stroke"/>
    </svg>
    <canvas
      #inputCanvasRef
      hidden
    ></canvas>
    <video width="4096" height="4096" #videoRef autoplay playsinline></video>
    <canvas id="imshow" [width]="modelInputShape[2]" [height]="modelInputShape[3]"></canvas>
  </div>
  <app-loading *ngIf="loading" [loading]="!!loading">
    <p>{{ loading.progress ? loading.text + ' - ' + loading.progress + '%' : loading.text }}</p>
  </app-loading>
  <div id="cameraPreview"></div>
  <app-capture-button class="capture"
                      [percent]=" numberOfValidCoordinates()/CORRECT_COORDINATES_BEFORE_PROCESS *100"></app-capture-button>
</div>
<!--<app-opencv-imshow></app-opencv-imshow>-->

<!--<canvas id="debug" width="4096" height="4096"></canvas>-->
<!--<canvas id="debug2" width="4096" height="4096"></canvas>-->
