:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  .flash-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    transition: cubic-bezier(0, 1.29, 0.83, 0.89) 0.4s;
    z-index: 4;
    pointer-events: none;
    backdrop-filter: blur(50px) brightness(2);

    &.active {
      opacity: 0.9;
      pointer-events: visible;
    }
  }

  .camera-preview-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--color-background-1);
    flex: 1;
    height: 100%;

    .canvas {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      align-items: center;
      position: relative;
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: 1;
    }

    svg {
      position: absolute;
      pointer-events: none;
      min-height: 100%;
      min-width: 100%;
      z-index: 2;
      opacity: var(--opacity);

      path {
        transition: var(--transition-fast);
        fill: color-mix(in srgb, #E6E781, transparent 70%);
        stroke: #F5A569;
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-dasharray: 0, 8;
        stroke-width: 4;

        //animate stroke offset
        animation: dash 1.5s linear infinite;
      }
    }

    .capture {
      position: absolute;
      bottom: 20px;
      left: 50%;
      width: 80px;
      height: 80px;
      transform: translateX(-50%);
      cursor: pointer;
      pointer-events: none;
      z-index: 3;


    }
  }

  canvas {
    width: 100%;
    height: 300px;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 8;
  }
  to {
    stroke-dashoffset: 0;
  }
}
