:host {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-sm);
    color: var(--color-dark1-1);
    height: 50px;
    padding: 0 var(--padding);
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    border-radius: 1000px;
    transition: var(--transition);
    overflow: hidden;
    width: fit-content;
    background: var(--color-background-2);
    box-shadow: var(--box-shadow-1);

    &:active,
    &.active {
      color: var(--color-primary-darker);
    }
  }

  app-slide-sheet {
    .number-pickers {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
