:host {
  overflow: hidden;
  display: flex;

  &.compact {
    a {
      height: auto;
      padding: calc(var(--padding-sm) / 2) var(--padding);
      border-radius: var(--border-radius-sm);
      font-weight: var(--font-weight-normal);
      box-shadow: none;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-sm);
    color: var(--color-dark1-1);
    height: 50px;
    padding: 0 var(--padding);
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    border-radius: 1000px;
    transition: var(--transition);
    overflow: hidden;
    width: fit-content;
    background: var(--theme-color-2-5);
    box-shadow: var(--box-shadow-1);
    font-size: var(--font-size);

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }

    &:active,
    &.active {
      color: var(--color-primary-darker);
    }
  }

  app-slide-sheet {
    .number-pickers {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
