:host {
  color: var(--colorText);

  & .input {
    border: 1px solid var(--colorBorder);
    border-radius: var(--borderRadius);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: row;

    & .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:active {
      color: var(--colorPrimary);
      transition: var(--primary-transition);
      border-color: var(--colorPrimary);
    }
  }

  & .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-direction: row;
    padding: 10px;
    transition: var(--primary-transition);
    border-radius: var(--borderRadius);
    font-size: 20px;

    & .icon {
      visibility: hidden;
      opacity: 0;
      transition: var(--primary-transition);
      color: var(--colorPrimary);
    }

    &:active {
      background: var(--colorBgLayout);
    }

    &.active {
      color: var(--colorPrimary);
      background: var(--colorPrimaryBg);

      & .icon {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
