<label class="label" *ngIf="label">{{label}}</label>
<label class="input-content">
  <input
    #input
    *ngIf="type!=='checkbox'"
    [name]="name"
    [type]="type"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [required]="required"
    [readonly]="readonly"
    [min]="min"
    [max]="max"
    [step]="step"
    [autocomplete]="autocomplete"
    [autofocus]="autofocus"
  >
  <input
    *ngIf="type==='checkbox'"
    [name]="name"
    [type]="type"
    [disabled]="disabled"
    [required]="required"
    [readonly]="readonly"
    [checked]="checked"
    (change)="onCheck()"
  >

  <span *ngIf="type==='checkbox'" class="toggle"></span>
</label>
