@import "shared";


:host {
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  --space-left-input: var(--padding);

  input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 20px !important;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0 !important;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

  &.horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .label {
      flex: 1;
      margin-left: 0;
    }

    input {
      padding: calc(var(--padding-sm) / 3) var(--padding-sm);
      text-align: right;
    }
  }

  .label {
    color: var(--color-dark2-1);
    font-weight: var(--font-weight-semi-bold);
    @include text(text);
    margin-left: var(--space-left-input);
  }

  input,
  &.checkbox {
    outline: none;
    border: none;
    background: var(--color-background-2);
    @include text(text);
    padding: calc(var(--padding-sm) / 3) var(--space-left-input);
    border-radius: var(--border-radius-sm);
  }

  .input-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    input {
      width: 100%;
      box-sizing: border-box;
      color: var(--color-dark1-1);
    }
  }

  &.checkbox {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .label {
      margin-left: 0;
      flex: 1;
    }

    .input-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      position: relative;
      height: var(--font-size);
      width: calc(var(--font-size) * 1.6);
      border-radius: var(--border-radius-sm);

      input {
        height: 100%;
        width: 100%;
        padding: 0;
        position: relative;
        -webkit-appearance: none;
        transition: var(--transition);
        background: var(--color-primary-lighter-4);

        &:checked {
          background: var(--color-primary);
        }
      }

      input:after {
        --toggle-button-padding: 2px;
        --toggle-button-size: calc(
          var(--font-size) - var(--toggle-button-padding) * 2
        );
        content: "";
        display: block;
        position: absolute;
        top: var(--toggle-button-padding);
        left: var(--toggle-button-padding);
        border-radius: var(--border-radius-sm);
        width: var(--toggle-button-size);
        height: var(--toggle-button-size);
        background: var(--color-background-1);
        transition: var(--transition);
        border: 2px solid transparent;
        box-sizing: border-box;
      }

      input:checked:after {
        background: var(--color-background-1);
        left: calc(100% - var(--toggle-button-padding));
        transform: translate(-100%, 0);
      }

      //.toggle {
      //
      //}
    }
  }
}
