<div *ngFor="let impact of impacts" [class]="selected === impact ? 'selected impact' : 'impact'"
     (click)="select(impact)"
     [style.--impact-size]="sizeToPercent(arrowSize)"
     [style.--impact-color]="'#ff0000'"
     [style.--impact-y]="getBottomAndLeft(impact).bottom"
     [style.--impact-x]="getBottomAndLeft(impact).left"
     [style.--impact-rotation]="impact.angle + 'deg'"
     [style.--impact-distance]="impact.points > 0 ? getDistance(impact) : getDistanceFromMm(impact.distance)"
>
</div>
