:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color-dark1-1);
  gap: var(--padding);

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    h1 {
      font-size: var(--font-size);
      font-weight: var(--font-weight-bold);
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .content {
    padding: 0 0 var(--padding) 0;
    gap: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & > * {
      &:not(app-list-targets) {
        margin: 0 var(--padding);
      }
    }
  }
}
