:host {
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("../../../assets/img/target_blueprint.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  .impact {
    position: absolute;
    height: var(--impact-size);
    width: var(--impact-size);
    border-radius: 100px;
    background-color: var(--impact-color);
    bottom: var(--impact-y);
    left: var(--impact-x);
    transform: rotate(var(--impact-rotation)) translate(var(--impact-distance));
    transform-origin: center;
    cursor: pointer;

    span {
      font-size: 9px;
      font-weight: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--impact-color);
      width: 100%;
      height: 100%;
      transform: rotate(calc(360deg - var(--impact-rotation)));
    }

    &.multiple {
      background-color: #fff;
      border: 2px solid var(--impact-color);
      box-sizing: border-box;
    }

    &.selected,
    &:active {
      box-shadow: 0 0 0 3px rgba(255, 89, 0, 0.5);
    }
  }
}
