:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--padding-sm);
  color: var(--color-dark1-1);

  .sessions {
  }

  .path {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: var(--padding-sm);

    overflow-x: auto;
    padding: 0 var(--padding);
  }
}
