:host {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;

  .menu {
    max-height: 80dvh;

    width: 100%;
    position: fixed;
    padding: 20px;
    bottom: 0;
    left: 0;
    background: var(--color-background-1);
    z-index: 1000;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: var(--transition);
  }

  .mask {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity var(--transition);
    backdrop-filter: blur(10px);
  }

  &.open {
    pointer-events: auto;

    .menu {
      transform: translateY(0);
    }

    .mask {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
