

<svg
  height="150"
  id="svg1"
  version="1.1"
  viewBox="0 0 625  150"
  width="625"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs
    id="defs1">
  </defs>


  <style type="text/css">

  </style>
  <g
    class="layer-MC0"
  >
    <!--    transform="translate(-995.00001,-625.00001)"-->

    <line stroke="#0f0" x1="75" x2="75" y1="15" y2="15" class="small n3_1"></line>
    <line id="" x1="75" x2="75" y1="75" y2="75" class="big n3_3"></line>
    <line id="" x1="45" x2="45" y1="75" y2="75" class="large n2_3"></line>
    <line id="" x1="105" x2="105" y1="45" y2="45" class="medium major n4_2"></line>
    <line id="" x1="135" x2="135" y1="75" y2="75" class="small n5_3"></line>
    <line id="" x1="15" x2="15" y1="75" y2="75" class="small n1_3"></line>
    <line id="4_1" x1="105" x2="105" y1="15" y2="15" class="very-small n4_1"></line>
    <line id="1_2" x1="15" x2="15" y1="45" y2="45" class="very-small n1_2"></line>
    <line id="5_4" x1="135" x2="135" y1="105" y2="105" class="very-small n5_4"></line>
    <line id="2_1" x1="45" x2="45" y1="15" y2="15" class="very-small n2_1"></line>
    <line id="4_5" x1="105" x2="105" y1="135" y2="135" class="very-small n4_5"></line>
    <line id="2_5" x1="45" x2="45" y1="135" y2="135" class="very-small n2_5"></line>
    <line id="5_2" x1="135" x2="135" y1="45" y2="45" class="very-small n5_2"></line>
    <line id="1_4" x1="15" x2="15" y1="105" y2="105" class="very-small n1_4"></line>
    <line id="3_5" x1="75" x2="75" y1="135" y2="135" class="small n3_5"></line>
    <line id="3_2" x1="75" x2="75" y1="45" y2="45" class="large  n3_2"></line>
    <line id="2_2" x1="45" x2="45" y1="45" y2="45" class="medium major n2_2"></line>
    <line id="4_3" x1="105" x2="105" y1="75" y2="75" class="large  n4_3"></line>
    <line id="4_4" x1="105" x2="105" y1="105" y2="105" class="medium major n4_4"></line>
    <line id="3_4" x1="75" x2="75" y1="105" y2="105" class="large  n3_4"></line>
    <line id="2_4" x1="45" x2="45" y1="105" y2="105" class="medium major n2_4"></line>
  </g>
  <text x="175"
        y="100">
    <tspan>s</tspan>
    <tspan>u</tspan>
    <tspan>b</tspan>
    <tspan>v</tspan>
    <tspan>i</tspan>
    <tspan>s</tspan>
    <tspan>i</tspan>
    <tspan>o</tspan>
    <tspan>n</tspan>

  </text>
</svg>
