:host {
  display: flex;
  align-items: stretch;
  justify-content: center;
  box-sizing: border-box;
  background: var(--theme-color-1);
  height: var(--navbar-height);
  z-index: 0;
  box-shadow: inset 0 1px 0 0 var(--theme-color-2-5);

  app-tab-bar-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
}
