:host {
  display: flex;
  padding: var(--padding);
  justify-content: center;
  align-items: center;
  gap: var(--padding);
  align-self: stretch;
  border-radius: calc(var(--padding-sm) / 2);
  border: 1px dashed var(--theme-color-2);
  background: var(--theme-color-2-5);
  color: var(--color-dark1-4);

  h1 {
    font-size: var(--font-size);
    font-weight: var(--font-weight-semi-bold);
    text-align: left;
  }
}
