<label class="label" *ngIf="label">{{ label }}</label>

<a class="input" (click)="openChange(true)">
  <span class="items">
    <span class="placeholder" *ngIf="!value || value?.length === 0">{{ placeholder }}</span>
    <span class="item" *ngFor="let record of displayedField">{{ record }}</span>
  </span>
  <ng-icon class="icon" size="16" name="iconoirNavArrowDown"></ng-icon>
</a>

<ng-template #modalContent>
  <div *ngFor="let record of store" [class]="isSelected(record) ? 'row active' : 'row'"
       (click)="select(record[valueField])">
    <span>{{ record[displayField] }}</span>
    <ng-icon class="icon" size="25" [svg]="jamCheck"></ng-icon>
  </div>
</ng-template>
