:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 var(--padding);
  overflow: hidden;

  &.selected,
  &.hold {
    background: var(--color-primary-lighter-5);
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-primary-lighter-5);
    gap: var(--padding-sm);
    padding: var(--padding-sm) 0;

    & > *:first-child {
      flex: 1;
    }

    .infos {
      flex-direction: row;
      display: flex;
      align-items: center;
      gap: var(--padding-sm);

      h1 {
        font-size: var(--font-size);
        font-weight: var(--font-weight-semi-bold);
        text-align: left;
      }

      p {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-normal);
        background: var(--color-indicator-3);
        width: fit-content;
        padding: 0 var(--padding-sm);
        border-radius: var(--padding);
        min-width: 20px;
        text-align: center;
        color: var(--color-background-1);
      }
    }

    .epreuve {
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: var(--padding-sm);
    }

    a {
      width: 30px;
      height: 30px;
      aspect-ratio: 1;
      background: var(--color-primary-lighter-5);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

:host(:last-child) {
  .content {
    border-bottom: none;
  }
}
