:host {
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  transition: var(--transition-slow);

  .app-page {
    flex: 1;
    height: calc(100dvh - var(--navbar-height));
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}
