:host {
  height: 100vh;
  display: flex;
  flex-direction: column;

  & .app-page {
    flex: 1;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    border-radius: var(--borderRadius);
  }

  & app-header {
    position: sticky;
    top: 0;
  }

  & app-tab-bar {
    position: sticky;
    bottom: 0;
  }
}
