:host {
  background: var(--color-primary-lighter-5);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-dark1-1);
  padding: calc(var(--padding-sm) / 3) var(--padding-sm);
  border-radius: calc(var(--padding-sm) / 2);
  box-sizing: border-box;
  transition: var(--transition);

  &.secondary {
    background: var(--color-secondary-lighter-5);
    color: var(--color-dark1-2);
  }
}
