:host {
  $visuelSize: 180;
  $plastronSize: 2565;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("../../../assets/img/target_blueprint.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

  .zone {
    width: calc(810 / $plastronSize * 100%);
    aspect-ratio: 1;
    position: absolute;
    margin: calc($visuelSize / $plastronSize * 100%);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: var(--padding-sm);

    &.TOP_LEFT {
      top: 0;
      left: 0;
    }

    &.TOP_RIGHT {
      top: 0;
      right: 0;
    }

    &.BOTTOM_LEFT {
      bottom: 0;
      left: 0;
    }

    &.BOTTOM_RIGHT {
      bottom: 0;
      right: 0;
    }

    &.CENTER {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
    }

    app-tag {
      text-align: center;
      box-shadow: 0 0 0 0 var(--color-primary-darker);
      font-size: var(--font-size);

      &.selected {
        color: var(--color-primary-darker);
        background: var(--color-primary-lighter-5);
        box-shadow: 0 0 0 3px var(--color-primary-darker);
      }
    }
  }
}
