@import "shared";

:host {
  border-radius: var(--border-radius-sm);
  background-color: var(--color-background-1);
  box-shadow: var(--box-shadow-2);
  position: fixed;
  z-index: 100;
  top: var(--padding-sm);
  min-width: 200px;
  max-width: calc(100vw - var(--padding) * 2);
  word-break: break-word;
  color: var(--color-dark1-1);
  overflow: hidden;
  visibility: hidden;
  right: var(--padding);
  transform: translate(150%, 0);
  transition: var(--transition);

  &.open {
    visibility: visible;
    transform: translate(0, 0);
  }

  .inner-wrapper {
    position: relative;
    padding: var(--padding-sm) var(--padding);
  }

  .toast-content {
    display: flex;
    flex-direction: column;

    .toast-title {
      @include text(text);
      font-weight: var(--font-weight-bold);
    }

    .toast-text {

    }
  }

  &.success {
    .progress-bar {
      background: #46a958;
    }
  }

  &.error {
    .progress-bar {
      background: #fd3825;
    }
  }

  &.warning {
    .progress-bar {
      background: #f7b924;
    }
  }

  &.info {
    .progress-bar {
      background: #17a2b8;
    }
  }

  .progress-bar {
    width: 100%;
    height: 5px;
    transition: var(--transition-fast);
  }
}
