:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--padding);
  color: var(--color-dark1-1);

  h1 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    text-align: left;
  }

  & > *:not(app-header) {
    padding: 0 var(--padding);
  }

  .actualites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: var(--padding);
    overflow-x: auto;
    padding: var(--padding);
    margin: calc(-1 * var(--padding)) 0;
    z-index: 0;

    .actualite {
      background: var(--color-background-2);
      border-radius: var(--border-radius);
      padding: var(--padding-sm);
      box-shadow: var(--box-shadow-1);
      flex: 1;
      max-width: 440px;
      min-width: 200px;
      height: 150px;
      flex-direction: column;

      display: flex;

      overflow: hidden;
      gap: var(--padding-sm);
      background-size: cover;
      background-position: center;
      position: relative;

      app-empty-text {
        margin: auto;
        padding: 0;
      }

      h1 {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-semi-bold);
        text-align: left;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        z-index: 1;
      }

      p {
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-normal);
        text-align: left;
        color: #fff;
        z-index: 1;
      }

      &.gradient:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.3) 50%
        );
      }
    }
  }

  .titre-sessions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    text-align: left;

    .button {
      color: var(--color-dark1-1);
      text-decoration: none;
      font-size: var(--font-size-sm);
      background: var(--color-primary-lighter-5);
      border-radius: calc(var(--border-radius-sm) / 2);
      padding: calc(var(--padding-sm) / 2) var(--padding-sm);
    }
  }

  .informations {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
  }

  .sessions {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }
}
