<span class="logo">
<app-logo [size]="logoSize"/>
</span>
<h1 class="titre">{{'HOME.ACTUALITIES' | translate}}</h1>
<div class="actualites">
  <div [class]="{actualite:true, ripple:true,gradient:actualites.length !== 0}" *ngFor="let actualite of actualites"
       [style]="{
    'background-image': 'url(' + getMediaSource(actualite) + ')'
  }" (click)="openActualite(actualite)">
    <h1>{{actualite.title}}</h1>
    <p>{{toLocalDate(actualite.pubDate)}}</p>
  </div>
  <div *ngIf="actualites.length == 0" class="actualite ripple">
    <app-loading [loading]="actualitesLoading"></app-loading>

    <app-empty-text *ngIf="!actualitesLoading" text="{{'HOME.NO_ACTUALITY'| translate}}"></app-empty-text>
  </div>
</div>
<div class="titre-sessions">
  <h1>{{'HOME.RECENTLY_OPENED' | translate}}</h1>
  <app-tag *ngIf="seances.length != 0" class="button ripple"
           routerLink="/sessions">{{'HOME.SHOW_ALL' | translate}}</app-tag>
</div>
<div class="sessions">
  <app-session-item (click)="openSession(seance)" [url]="seance" *ngFor="let seance of seances" [showLogo]="true">
  </app-session-item>
  <app-empty-text *ngIf="seances.length == 0" text="{{'HOME.NO_SESSION'|translate}}"></app-empty-text>
</div>

<div *ngFor="let file of epubFiles">
  {{file}}
</div>

