:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .message-box-body {
    display: flex;
    flex-direction: column;
    gap: var(--padding);

    & > app-input {
      margin-top: var(--padding-sm);

      &:not(:last-child) {
        margin-bottom: var(--padding);
      }
    }

    .penalites {
      border-top: 1px solid var(--theme-color-2-5);
      padding-top: var(--padding);
      display: flex;
      flex-direction: column;
      gap: var(--padding-sm);
    }
  }

  app-header {
    z-index: 2;

    h1 {
      font-size: var(--font-size);
      font-weight: var(--font-weight-bold);
      text-align: left;
    }

    .header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }
  }

  .epreuve {
    display: flex;
    flex-direction: row;
    gap: var(--padding);

    app-select {
      flex: 1;
    }
  }

  .content {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    align-items: stretch;
    padding: var(--padding) 0;

    & > *:not(app-swiper) {
      padding: 0 var(--padding);
      box-sizing: border-box;
    }

    & .result-preview {
      width: 100%;
      aspect-ratio: 1;
      position: relative;
      overflow: hidden;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow-1);
      border: 1px solid var(--colorBorder);
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;

      & .toggle-preview {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
        height: 30px;
        width: 30px;
        background: color-mix(
            in srgb,
            var(--theme-color-1),
            transparent 50%
        );
      }

      & canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    & .chrono {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .result-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    & .tools {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .multi-impacts {
        width: calc(100% / 3 - 5px);
      }
    }
  }
}
