:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: var(--primary-transition);
  z-index: 1000;
  flex-direction: column;

  &.loading {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  svg {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  .very-small {
    --stroke-width: 8;
  }


  .small {
    --stroke-width: 14;
  }


  .medium {
    --stroke-width: 18;
  }


  .large {
    --stroke-width: 22;
  }


  .big {
    --stroke-width: 26;
  }


  /*.major {*/
  /*  --stroke-width: 29;*/
  /*  stroke-width: 0;*/
  /*  stroke-linecap: round;*/
  /*}*/


  .very-big {
    --stroke-width: 30;
  }


  line {
    --stroke-width-ratio: 1;
    --final-stroke-width: calc(var(--stroke-width) * var(--stroke-width-ratio));
    stroke: var(--theme-color-1-25);
    animation-name: animation;
    stroke-linecap: round;
    --duration: 1.5s;
    --interval: 0.5s;
    stroke-width: var(--stroke-width);
    animation-duration: var(--duration);
    animation-timing-function: cubic-bezier(.18, .89, .32, 1.28);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-play-state: paused;
    transition: 0.5s;
  }

  g.end line {
    animation-iteration-count: 1;
    opacity: 1;
  }


  text {
    font-family: 'Chillax Variable', sans-serif;
    font-weight: 600;
    font-size: 100px;
    --duration: 0.5s;
    fill: transparent;
  }


  g.loading line {
    animation-play-state: running;
  }

  .large {
    animation-delay: calc(var(--interval) * 4);
  }

  .small {
    animation-delay: calc(var(--interval) * 5);
  }

  .very-small {
    animation-delay: calc(var(--interval) * 6);
  }


  @keyframes animation {
    0% {
      stroke-width: var(--stroke-width);
    }

    50% {
      stroke-width: 0;
    }
    100% {
      stroke-width: var(--stroke-width);
    }
  }
}
