:host {
  &.type-default,
  &.type-dashed {
    &.color-error {
      --colorBorder: var(--colorError);
      --colorBorderHover: var(--colorErrorHover);
      --colorBorderActive: var(--colorErrorActive);
      --colorText: var(--colorErrorText);
      --colorTextHover: var(--colorErrorTextHover);
      --colorTextActive: var(--colorErrorTextActive);
      --colorAnimation: var(--colorErrorBgHover);
    }

    &.color-success {
      --colorBorder: var(--colorSuccess);
      --colorBorderHover: var(--colorSuccessHover);
      --colorBorderActive: var(--colorSuccessActive);
      --colorText: var(--colorSuccessText);
      --colorTextHover: var(--colorSuccessTextHover);
      --colorTextActive: var(--colorSuccessTextActive);
      --colorAnimation: var(--colorSuccessBgHover);
    }

    &.color-primary {
      --colorBorderHover: var(--colorPrimaryHover);
      --colorBorderActive: var(--colorPrimaryActive);
      --colorTextHover: var(--colorPrimaryTextHover);
      --colorTextActive: var(--colorPrimaryTextActive);
      --colorAnimation: var(--colorPrimaryBgHover);
    }
  }

  &.type-dashed button {
    border-style: dashed;
  }

  &.type-link {
    &.color-error {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorText: var(--colorErrorText);
      --colorTextHover: var(--colorErrorTextHover);
      --colorTextActive: var(--colorErrorTextActive);
    }

    &.color-success {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorText: var(--colorSuccessText);
      --colorTextHover: var(--colorSuccessTextHover);
      --colorTextActive: var(--colorSuccessTextActive);
    }

    &.color-primary {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorText: var(--colorPrimary);
      --colorTextHover: var(--colorPrimaryTextHover);
      --colorTextActive: var(--colorPrimaryTextActive);
    }

    --colorAnimation: transparent;
  }

  &.type-text {
    &.color-error {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorText: var(--colorErrorText);
      --colorTextHover: var(--colorErrorTextHover);
      --colorTextActive: var(--colorErrorTextHover);
      --colorBackgroundHover: var(--colorErrorBg);
      --colorBackgroundActive: var(--colorErrorBg);
    }

    &.color-success {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorText: var(--colorSuccessText);
      --colorTextHover: var(--colorSuccessTextHover);
      --colorTextActive: var(--colorSuccessTextHover);
      --colorBackgroundHover: var(--colorSuccessBg);
      --colorBackgroundActive: var(--colorSuccessBg);
    }

    &.color-primary {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorTextHover: var(--colorPrimaryTextHover);
      --colorTextActive: var(--colorPrimaryTextHover);
      --colorBackgroundHover: var(--colorBgLayout);
      --colorBackgroundActive: var(--colorBgLayout);
    }

    --colorAnimation: transparent;
  }

  &.type-primary {
    &.color-error {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorText: #fff;
      --colorTextHover: #fff;
      --colorTextActive: #fff;
      --colorBackground: var(--colorError);
      --colorBackgroundHover: var(--colorErrorHover);
      --colorBackgroundActive: var(--colorErrorActive);
      --colorAnimation: var(--colorErrorBgHover);
    }

    &.color-success {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorText: #fff;
      --colorTextHover: #fff;
      --colorTextActive: #fff;
      --colorBackground: var(--colorSuccess);
      --colorBackgroundHover: var(--colorSuccessHover);
      --colorBackgroundActive: var(--colorSuccessActive);
      --colorAnimation: var(--colorSuccessBgHover);
    }

    &.color-primary {
      --colorBorder: transparent;
      --colorBorderHover: transparent;
      --colorBorderActive: transparent;
      --colorText: #fff;
      --colorTextHover: #fff;
      --colorTextActive: #fff;
      --colorBackground: var(--colorPrimary);
      --colorBackgroundHover: var(--colorPrimaryHover);
      --colorBackgroundActive: var(--colorPrimaryActive);
      --colorAnimation: var(--colorPrimaryBgHover);
    }
  }

  display: flex;
  align-items: stretch;

  button {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: var(--borderRadius);
    background-color: var(--colorBackground);
    color: var(--colorText);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-shadow: 0 2px 0 var(--colorShadow);
    border: 1px solid var(--colorBorder);
    cursor: pointer;

    &:hover {
      border-color: var(--colorBorderHover);
      color: var(--colorTextHover);
      background: var(--colorBackgroundHover);
    }

    &:focus {
      animation: wave 1s ease;
    }

    &:active {
      border-color: var(--colorBorderActive);
      color: var(--colorTextActive);
      background: var(--colorBackgroundActive);
      animation: none;
    }

    &:has(.icon):not(:has(span)) {
      height: 35px;
      width: 35px;
    }
  }
}

@keyframes wave {
  0% {
    outline: 0 solid var(--colorAnimation);
  }
  100% {
    outline: 10px solid transparent;
  }
}
