:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  aspect-ratio: 1;

  .cls-1 {
    fill: var(--color-dark1-1);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
