<app-header [showBack]="true" [showMenu]="false" [actions]="menuActions">
  <div class="header-content">
    <h1>
      {{'TARGETS.TITLE' | translate}}
    </h1>
    <p>
      <span class="title">{{session.title}}</span>
      <span class="date">({{session.date | date:'dd/MM/yyyy'}})</span>
    </p>
  </div>
</app-header>
<div class="content">
  <app-search [(value)]="searchValue" placeholder="{{'TARGETS.SEARCH' | translate}}"></app-search>
  <app-add-button [@enterAnimation] (click)="openCamera()" *ngIf="!searchValue"
                  label="{{'TARGETS.ADD_TARGET' | translate}}"></app-add-button>

  <app-segmented-button [items]="segmentedButtonItems" [(selected)]="selectedSegmentedButton"></app-segmented-button>
  <app-list-targets [users]="session.users" [targets]="targets"
                    [(selectedTargets)]="selectedTargets"></app-list-targets>
</div>
