/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;1,100&display=swap");

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans.ttf");
}

@font-face {
  font-family: "Chillax Variable";
  src: url("./assets/fonts/Chillax.ttf");
}

* {
  font-family: var(--primary-font);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}

#video {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  object-fit: cover;
}

.soon:after {
  content: "Dans une prochaine version";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-primary);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0.2rem;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.soon {
  overflow: hidden;
  max-height: 100%;
}

html {
  background: var(--theme-color-2-5);
}


.firstLetterUpperCase {
  &:first-letter {
    text-transform: uppercase;
  }

  text-transform: lowercase;
}

:root {
  --safe-area-inset-top: env(safe-area-inset-top, 5px);
  --safe-area-inset-right: env(safe-area-inset-right, 5px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom, 5px);
  --safe-area-inset-left: env(safe-area-inset-left, 5px);


  --color-primary: #51b6d5;
  --color-secondary: #ebcc7d;
  --color-light: #f5f5f5;

  --color-indicator-1: #ff2e2e;
  --color-indicator-2: #2a9928;
  --color-indicator-3: #f4b63c;

  --theme-color-1: #fff;
  --theme-color-1-5: color-mix(
      in srgb,
      var(--theme-color-1) 5%,
      var(--theme-color-2)
  );

  --theme-color-1-25: color-mix(
      in srgb,
      var(--theme-color-1) 25%,
      var(--theme-color-2)
  );


  --theme-color-2-5: color-mix(
      in srgb,
      var(--theme-color-2) 5%,
      var(--theme-color-1)
  );

  --theme-color-2-25: color-mix(
      in srgb,
      var(--theme-color-2) 25%,
      var(--theme-color-1)
  );

  --theme-color-2: var(--dark);
  --dark: #000;
  --color-primary-darker: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-2) 10%
  );
  --color-primary-lighter-1: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-1) 20%
  );
  --color-primary-lighter-3: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-1) 40%
  );
  --color-primary-lighter-4: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-1) 60%
  );

  --color-secondary-darker: color-mix(
      in srgb,
      var(--color-secondary),
      var(--theme-color-2) 10%
  );
  --color-secondary-lighter-2: color-mix(
      in srgb,
      var(--color-secondary),
      var(--theme-color-1) 20%
  );
  --color-secondary-lighter-3: color-mix(
      in srgb,
      var(--color-secondary),
      var(--theme-color-1) 40%
  );
  --color-secondary-lighter-4: color-mix(
      in srgb,
      var(--color-secondary),
      var(--theme-color-1) 60%
  );
  --color-secondary-lighter-5: color-mix(
      in srgb,
      var(--color-secondary),
      var(--theme-color-1) 80%
  );

  --color-dark1-1: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-2) 95%
  );
  --color-dark1-2: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-2) 85%
  );
  --color-dark1-3: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-2) 65%
  );
  --color-dark1-4: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-2) 45%
  );
  --color-dark1-5: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-2) 25%
  );
  --color-dark1-6: color-mix(
      in srgb,
      var(--color-primary),
      var(--theme-color-2) 5%
  );
  --color-dark2-1: color-mix(
      in srgb,
      var(--theme-color-1),
      var(--theme-color-2) 65%
  );
  --color-dark2-2: color-mix(
      in srgb,
      var(--theme-color-1),
      var(--theme-color-2) 45%
  );
  --color-dark2-3: color-mix(
      in srgb,
      var(--theme-color-1),
      var(--theme-color-2) 25%
  );

  --border-radius: 20px;
  --border-radius-sm: calc(var(--border-radius) / 2);
  --border-radius-lg: calc(var(--border-radius) * 2);

  --padding: 20px;

  --padding-sm: calc(var(--padding) / 2);

  --padding-lg: calc(var(--padding) * 2);

  --primary-font: "Darker Grotesque";

  --font-size: 20px;
  --font-size-sm: calc(var(--font-size) * 0.7);
  --font-size-lg: calc(var(--font-size) * 1.2);

  --box-shadow-1: 0px 0px 20px 0px color-mix(in srgb, #000 2%, transparent);
  --box-shadow-2: 0px 0px 20px 0px color-mix(in srgb, #000 10%, transparent);
  --box-shadow-3: 0px 1px 2px 1px color-mix(in srgb, #000 10%, transparent);

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-normal: 400;

  --transition: 0.3s ease-in-out;
  --transition-fast: 0.1s ease-in-out;
  --transition-slow: 0.5s ease-in-out;

  --navbar-height: 70px;
}

body {
  //background: var(--theme-color-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;

  app-root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100dvh;
    box-sizing: border-box;
  }
}

/*  Ripple */

.ink {
  display: block;
  position: absolute;
  background: var(--theme-color-2-25);
  border-radius: 100%;
  transform: scale(0);
  opacity: 0.3;
  filter: blur(10px);
}

.animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}

.ripple-container {
  position: relative;
  overflow: hidden;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}

@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}

@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.opencv-imshow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #000;
  position: relative;

  label {
    position: absolute;
    top: 0;
    left: 0;
    color: #2a9928;
  }
}
