/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;1,100&display=swap");

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans.ttf");
}

* {
  font-family: var(--primary-font);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
}

.soon:after {
  content: "Dans une prochaine version";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-primary);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: 0.2rem;
  backdrop-filter: blur(5px);
  z-index: 1;
}

.soon {
  overflow: hidden;
  max-height: 100%;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  transition: var(--primary-transition);

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }

  &:active:after {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s;
  }
}

:root {
  --color-primary: #54a2bb;
  --color-secondary: #c2900b;

  --color-primary-darker: color-mix(in srgb, var(--color-primary), #242e42 10%);
  --color-primary-lighter-1: color-mix(in srgb, var(--color-primary), #fff 20%);
  --color-primary-lighter-3: color-mix(in srgb, var(--color-primary), #fff 40%);
  --color-primary-lighter-4: color-mix(in srgb, var(--color-primary), #fff 60%);
  --color-primary-lighter-5: color-mix(in srgb, var(--color-primary), #fff 80%);

  --color-secondary-darker: color-mix(
    in srgb,
    var(--color-secondary),
    #242e42 10%
  );
  --color-secondary-lighter-2: color-mix(
    in srgb,
    var(--color-secondary),
    #fff 20%
  );
  --color-secondary-lighter-3: color-mix(
    in srgb,
    var(--color-secondary),
    #fff 40%
  );
  --color-secondary-lighter-4: color-mix(
    in srgb,
    var(--color-secondary),
    #fff 60%
  );
  --color-secondary-lighter-5: color-mix(
    in srgb,
    var(--color-secondary),
    #fff 80%
  );

  --color-dark1-1: color-mix(in srgb, var(--color-primary), #242e42 95%);
  --color-dark1-2: color-mix(in srgb, var(--color-primary), #242e42 85%);
  --color-dark1-3: color-mix(in srgb, var(--color-primary), #242e42 65%);
  --color-dark1-4: color-mix(in srgb, var(--color-primary), #242e42 45%);
  --color-dark1-5: color-mix(in srgb, var(--color-primary), #242e42 25%);
  --color-dark1-6: color-mix(in srgb, var(--color-primary), #242e42 5%);
  --color-dark2-1: color-mix(in srgb, #fff, #242e42 65%);
  --color-dark2-2: color-mix(in srgb, #fff, #242e42 45%);
  --color-dark2-3: color-mix(in srgb, #fff, #242e42 25%);
  --color-dark2-4: color-mix(in srgb, #fff, #242e42 5%);
  --color-background-1: color-mix(in srgb, var(--color-primary), #fff 95%);
  --color-background-2: #fff;

  --border-radius: 20px;
  --border-radius-sm: calc(var(--border-radius) / 2);
  --border-radius-lg: calc(var(--border-radius) * 2);

  --padding: 20px;

  --padding-sm: calc(var(--padding) / 2);

  --padding-lg: calc(var(--padding) * 2);

  --primary-transition: all 0.3s ease-in-out;
  --primary-font: "Darker Grotesque";

  --font-size: 20px;
  --font-size-sm: calc(var(--font-size) * 0.7);
  --font-size-lg: calc(var(--font-size) * 1.2);

  --box-shadow-1: 0px 0px 20px 0px
    color-mix(in srgb, var(--color-dark1-1) 2%, transparent);

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-normal: 400;
}

body {
  background: var(--color-background-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;

  app-root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    box-sizing: border-box;
  }
}
