/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans.ttf");
}

/** SCSS PRIMARY COLORS */
$primary-a0: #ffffff;
$primary-a10: #d4e9fd;
$primary-a20: #a6d3fa;
$primary-a30: #71bef7;
$primary-a50: #03a9f4;
$primary-a60: #1e7cb1;
$primary-a70: #1f5172;
$primary-a80: #172b39;
$primary-a90: #000000;

* {
  font-family: var(--primary-font);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --app-background: #fbfeff;
  --primary-background: #fff;
  --secondary-background: #000000;
  --tertiary-background: #eafdff;
  --primary-border-radius: 10px;
  --space-between-elements: 10px;
  --elements-padding: 10px;
  --primary-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --primary-color: #000000;
  --primary-transition: all 0.1s ease;
  --secondary-transition: all 0.6s ease;
  --primary-font: "Work Sans", sans-serif;
}

body {
  background: var(--colorBgContainer);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;

  app-root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    box-sizing: border-box;
  }

  .glass {
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 0px 0px var(--primary-background);
    transition: var(--primary-transition);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: var(--primary-transition);
      border: solid 1px var(--primary-background);
      box-sizing: border-box;
      border-radius: var(--borderRadius);
      opacity: 0.1;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: var(--primary-transition);
      background-color: var(--primary-background);
      box-sizing: border-box;
      border-radius: var(--borderRadius);
      opacity: 0.1;
    }
  }
}
