:host {
  .result-preview {
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--primary-background);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}
