:host {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;

  .menu {
    position: fixed;
    top: var(--padding-sm);
    right: var(--padding);
    background: var(--theme-color-1);
    z-index: 1000;
    border-radius: calc(var(--border-radius-sm) / 2);
    box-sizing: border-box;
    transition: var(--transition-fast);
    box-shadow: var(--box-shadow-2);
    transform: scale(0);
    opacity: 0;
    width: fit-content;
    height: fit-content;
  }


  &.open {
    pointer-events: auto;

    .menu {
      transform: scale(1);
      opacity: 1;
    }

    .mask {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
