<img class="logo" src="assets/img/logo_s_white.svg" [style.height]="logoSize+'px'" alt="logo"/>
<h1 class="titre">Actualités</h1>
<div class="actualites">
  <div class="actualite ripple" *ngFor="let actualite of actualites">
    <h1>{{actualite.name}}</h1>
    <p>{{actualite.date.toLocaleDateString("fr")}}</p>
  </div>
</div>
<div class="titre-sessions">
  <h1>Sessions</h1>
  <a class="button ripple" routerLink="/seances">Tout voir</a>
</div>

<div class="sessions">
  <div class="session ripple" *ngFor="let seance of seances">
    <div class="infos">
      <h1>{{seance.name}}</h1>
      <p>{{seance.date.toLocaleDateString("fr")}}</p>
    </div>
    <a>
      <ng-icon name="jamChevronRight" size="20"></ng-icon>
    </a>
  </div>
</div>

