<!--webcam video-->
<div class="camera-preview-container">
  <div class="canvas" [ngStyle]="{
  'height': '100%',
  'aspect-ratio': width +'/'+ height,
  '--polygon':getPolygon(),
  '--opacity':coordinates ? 0.5 : 0,
  }
  ">
    <video id="video" width="4096" height="4096" autoplay></video>
    <button (click)="capture()" [class]="coordinates ? 'capture active' :'capture'"></button>
  </div>
  <app-loading [loading]="loading"></app-loading>
</div>
<canvas id="debug" width="4096" height="4096"></canvas>
<!--<canvas id="debug2" width="4096" height="4096"></canvas>-->
