:host {
  color: var(--primary-color);

  .impacts {
    max-height: 300px;
    overflow-y: scroll;
    gap: 10px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;

    .impact {
      border-radius: 10px;
      box-sizing: border-box;
      padding: 5px 10px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      transition: var(--primary-transition);
      width: 100px;
      text-align: center;
      background: var(--colorPrimaryBg);

      &.selected {
        transform: scale(1.2);
      }

      span {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .tools {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
