<div class="message-box">
  <div class="message-box-content">
    <div class="message-title">
      <span>{{title}}</span>
    </div>
    <div class="message-content">
      <span *ngIf="message && !PROMPT">{{message}}</span>
      <div class="component-content" *ngIf="!message">
        <ng-content></ng-content>
      </div>
      <app-input #prompt *ngIf="PROMPT" [label]="message" [(ngModel)]="promptValue"/>
    </div>
  </div>

  <div class="buttons">
    <button class="cancel" *ngIf="OKCANCEL || PROMPT" (click)="click('cancel')">Annuler</button>
    <button class="ok" (click)="click('ok')" *ngIf="OKCANCEL || PROMPT">Ok</button>
  </div>
</div>
<div (click)="close()" class="mask"></div>
