:host {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;

  .message-box {
    position: fixed;
    bottom: -100%;
    right: var(--padding);
    left: var(--padding);
    background: var(--theme-color-1);
    z-index: 1000;
    border-radius: var(--border-radius-sm);
    box-sizing: border-box;
    transition: var(--transition-slow);
    box-shadow: var(--box-shadow-2);

    opacity: 0;

    .message-box-content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      gap: var(--padding);
      padding: var(--padding);

      .message-title {
        font-weight: var(--font-weight-semi-bold);
        color: var(--color-dark1-1);
        text-align: center;
      }

      .message-content {
        font-weight: var(--font-weight-regular);
        color: var(--color-dark1-1);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: var(--padding);

        input {
          border: 1px solid var(--theme-color-2-5);
          border-radius: calc(var(--border-radius-sm) / 3);
          padding: calc(var(--padding-sm) / 3) var(--padding-sm);
          color: var(--color-dark1-1);
          transition: var(--transition-slow);
          outline: none;
        }

        .component-content {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          max-height: 70vh;
          overflow-y: auto;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      border-top: solid 1px var(--theme-color-2-5);

      padding: var(--padding);
      gap: var(--padding);
      button {
        flex:1
      }
    }
  }

  .mask {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 999;
    transition: opacity var(--transition-slow);
    background: rgba(0, 0, 0, 0.1);
  }

  &.open {
    pointer-events: auto;

    .message-box {
      bottom: var(--padding);

      opacity: 1;
    }

    .mask {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
